<div class="wrapper">
    <div>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Iniciar sesion
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    <form [formGroup]="form">
                        <input class="input mb-2" type="text" placeholder="Usuario">
                        <input class="input mb-2" type="password" placeholder="Password">
                        <input class="input mb-2" type="password" placeholder="Confirmacion de password">
                    </form>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">Iniciar</a>
                <a href="#" class="card-footer-item">Limpiar</a>
            </footer>
        </div>
    </div>

</div>