<div class="container" id="wrapper">

   <div class="section">
      <nav class="breadcrumb" aria-label="breadcrumbs">
         <ul>
            <li><a [routerLink]="['/crear']" routerLinkActive="router-link-active" >Registrar una persona</a></li>
            <li><a href="#">Todos</a></li>
            <li><a href="#">Hombres</a></li>
            <li><a href="#">Mujeres</a></li>
         </ul>
      </nav>
   </div>

   <div class="section">
      <div *ngFor="let p of persons">
         <app-person-card [person]="p"></app-person-card>
      </div>
   </div>
</div>