<div class="container">
    <div class="columns">
        <div class="column">
            <app-panel class="panel"></app-panel>
        </div>
        <div class="column  is-three-quarters ">
            <div class="section">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet lacinia eros. Vivamus ut
                    nisl
                    ipsum. Cras dignissim nunc sit amet nunc lobortis vulputate. Sed mattis tincidunt ipsum vitae
                    convallis.
                    Suspendisse auctor fermentum feugiat. Vestibulum vitae suscipit urna. Nam vehicula vestibulum erat.
                    Nam
                    ac lacus et tellus malesuada viverra. Nulla velit metus, convallis in ipsum a, auctor fermentum
                    diam.
                    Curabitur mattis tellus et justo lobortis, fermentum ultrices erat rutrum. Vestibulum id tellus in
                    nibh
                    tincidunt laoreet. Duis a enim nec metus tempor luctus. Ut pellentesque tempor elementum. Mauris
                    lobortis vitae massa ultrices mollis.

                    Quisque quis bibendum risus. Vivamus a dignissim ligula, et finibus ex. Etiam suscipit neque quis
                    dolor
                    pellentesque scelerisque. Nullam nisl libero, molestie ac rutrum ut, rutrum ut mi. Phasellus velit
                    nisl,
                    volutpat ac neque sagittis, interdum suscipit metus. Proin mi nulla, tincidunt non pulvinar ac,
                    feugiat
                    eget mi. Vivamus viverra turpis at arcu ornare, id posuere turpis dignissim. Praesent interdum lacus
                    ut
                    ultrices convallis. Praesent lacinia enim ut magna iaculis dapibus. Praesent fringilla nisl in
                    aliquet
                    feugiat. Integer porta sapien id iaculis dapibus. In quis urna quis nisl molestie cursus et id arcu.
                    Curabitur posuere gravida erat eu pulvinar. Aenean vestibulum nisl tellus, sed fermentum purus
                    bibendum
                    at.

                  
            </div>
        </div>
    </div>
</div>