.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 3em;
}
.footer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-menu {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.navbar-center {
    text-align: center;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#wrapper {
    min-height: 100vh; 
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}
