<div class="contianer">
    <div class="section">
        <div class="columns">
            <div class="column is-half">
                <input class="input mb-2" type="text" placeholder="Nombre">
                <input class="input mb-2" type="text" placeholder="Edad">
                <input class="input mb-2" type="text" placeholder="Sexo">
            </div>
        </div>
    </div>
    <div class="section">
        <div class="center">
            <button class="button is-primary mr-1">Guardar</button>
        </div>
    </div>
</div>